#mapImage {
  margin: 2% 2%;
  border: 1px solid black;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  flex: wrap;
  justify-content: center;
}

img {
  margin: auto;
  width: 50%;
  align-items: center;
}
